@model IEnumerable<Boodler>

<h2>Boodlers</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email Address</th>
        <th>Account Created</th>
    </tr>

    @foreach (var boodler in Model)
    {
    <tr>
        <td><a href=/Boodler/ViewBoodler/@boodler.UsersID>@boodler.UsersID</a></td>
        <td>@boodler.FullName</td>
        <td>@boodler.EmailAddress</td>
        <td>@boodler.CreationDate</td>
    </tr>

    }
</table>

