@{
    ViewData["Title"] = "The Boodlers";
}

@model IEnumerable<Boodler>

<h3>List of Boodlers</h3>

<hr width="100%" />

<div style="display:block">
    <h4>
        <a href="/Boodler/ViewBoxListContacts">See Box List Contacts</a>
    </h4>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email Address</th>
        <th>Account Created</th>
    </tr>

    @foreach (var boodler in Model)
    {
        <tr>
            <td><a href=/Boodler/ViewBoodler/@boodler.UsersID>@boodler.UsersID</a></td>
            <td>@boodler.FullName</td>
            <td>@boodler.EmailAddress</td>
            <td>@boodler.CreationDate</td>
        </tr>

    }
</table>

