@{
    ViewData["Title"] = "This Boodler";
}

@model Boodler

<h3>This Boodler</h3>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email Address</th>
        <th>Account Created</th>
    </tr>

    <tr>
        <td>@Model.UsersID</td>
        <td>@Model.FullName</td>
        <td>@Model.EmailAddress</td>
        <td>@Model.CreationDate</td>
    </tr>
</table>

<div style="display:block">
    <h4>See Signups by this Boodler:</h4>
    <ul>
        <li><a href="/Signup/ViewSignupsByBoodler/@Model.UsersID">All Signups by this Boodler</a></li>
        <li><a href="/Signup/ViewSignupsByBoodlerNotShipped/@Model.UsersID">Signups - Not yet shipped</a></li>
        <li><a href="/Boodler/ViewUpdateMultipleShipments/@Model.UsersID">Update Shipment info for ALL boxes that have not yet shipped</a></li>
    </ul>
</div>
