@model Boodler

<h2>This Boodler</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email Address</th>
        <th>Account Created</th>
    </tr>

        <tr>
            <td>@Model.UsersID</td>
            <td>@Model.FullName</td>
            <td>@Model.EmailAddress</td>
            <td>@Model.CreationDate</td>
        </tr>
</table>

