@{
    ViewData["Title"] = "This Boodler";
}

@model Boodler

<h3>This Boodler</h3>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email Address</th>
        <th>Account Created</th>
    </tr>

    <tr>
        <td>@Model.UsersID</td>
        <td>@Model.FullName</td>
        <td>@Model.EmailAddress</td>
        <td>@Model.CreationDate</td>
    </tr>
</table>

<div style="display:block">
    <h4>
    <a href="/Signup/ViewSignupsByBoodler/@Model.UsersID">See Signups by this Boodler</a>
    </h4>
</div>
<p></p>