@{
    ViewData["Title"] = "The Number";
}

@model TheNumbers

<h3>The Numbers</h3>

<table class="table">
    <tr>
        <th>Total Number of Boxes Available</th>
        <th>Total Boxes Signed Up For</th>
        <th>Total Boxes Shipped</th>
    </tr>
    <tr>
        <td>@Model.BoxCount</td>
        <td>@Model.BoxesSignedUp</td>
        <td>@Model.BoxesShipped</td>
    </tr>

</table>

<h4>
    <a href="/Signup/ViewShipStateCounts/">See Boxes Shipped By State</a>
</h4>
