@model Signup

<h2>This Box Signup</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>List Name</th>
        <th>Boodler</th>
    </tr>

    <tr>
        <td>@Model.SignupsID</td>
        <td>@Model.BoxListName</td>
        <td>@Model.FullName</td>
    </tr>

</table>
