@{
    ViewData["Title"] = "Signups by Box List";
}

@model IEnumerable<Signup>

<h3>Signups for this Box List</h3>

<table class="table">
    <tr>
        <th>List Name</th>
        <th>Boodler</th>
        <th>Number of Boxes</th>
    </tr>

    @foreach (var signup in Model)
    {
<tr>
    <td>@signup.BoxListName</td>
    <td><a href=/Boodler/ViewBoodler/@signup.UsersID>@signup.FullName</a></td>
    <td>@signup.PerBoodlerInList</td>
</tr>

    }
</table>
