@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/Images/boodleBoxes2.jpeg" alt="300 Boodle Brigade: Boxes" />
    <h1 class="display-4" style="color:navy">300 Boodle Brigade</h1>
    <p></p>
</div>
