@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site is intended solely for the benefit and use of the <strong>300 Boodle Brigade</strong>.
    Any other access is prohibited.</p>
