@model IEnumerable<List>

<h2>Lists</h2>
<table class="table">
    <tr>
        <th>ListsID</th>
        <th>Name</th>
        <th>Number of Boxes</th>
        <th>Shipped?</th>
    </tr>

    @foreach (var list in Model)
    {
        <tr>
            <td><a href=/List/ViewLists/@list.ListsID>@list.ListsID</a></td>
            <td>@list.Name</td>
            <td>@list.BoxNumber</td>
            <td>@list.Shipped</td>
        </tr>

    }
</table>

